.footer {
  display: flex;
  flex: 0 0 auto;
  height: 40px;
  width: 100%;

  background-color: antiquewhite;

  align-items: center;
  justify-content: space-between;
}

.createdBy {
  margin-left: 10px;
}

.socialLink {
  margin-right: 10px;
}